<div class=" mt-2 t-nav d-flex align-items-start"> 
  <div class="col-12 " >
    <div id="list-example " class="list-group ">
      <a class="list-group-item " href="" routerLink="/dashboard"><fa-icon [icon]="['fas', 'futbol']"></fa-icon> Dashboard</a>
      <a class="list-group-item " href="#list-item-2"><fa-icon [icon]="['fas','coffee']"></fa-icon> Tabela</a>
      <a class="list-group-item " href="#list-item-3"><fa-icon [icon]="['fas','chart-pie']"></fa-icon> Estatisticas</a>
      <a class="list-group-item " href="#list-item-4"><fa-icon [icon]="['fas','chess-rook']"></fa-icon> Estrategia</a>
    </div>
  </div>
    
</div>