<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header d-flex justify-content-center">
          <div class="col-md-7">
          <select class="form-select text-center" aria-label="Default select example">
            <option selected>Selecione a Rodada</option>
            <option value="1">Rodada 01</option>
            <option value="2">Rodada 02</option>
            <option value="3">Rodada 03</option>            
          </select>
        </div>
        </div>
        <div class="card-body">
          <div class="card" >
            <div class="card-body">

              <div class="row d-flex justify-content-center">
                <div class="col-md-4">time A</div>             
                <div class="col-md-2">x</div>             
                <div class="col-md-4">time B</div> 
              </div>

              <div class="row d-flex justify-content-center mt-3 text-center">
                <div class="col-md-7">
                  16:30 - 24/10/1996 
                </div>                
              </div>            
              <div class="row d-flex justify-content-center mt-2 text-center">
                <div class="col-md-7">
                  Estadio Municipal de Guarulhos
                </div>                
              </div>
          </div>
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">
          Campeonato Brasileiro 2023 - Rodada  
        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <div class="col-md-5">
              <img src="../../../assets/img/corinthians.svg" class="rounded escudo mx-auto d-block" alt="...">
            </div>
            <div class="col-md-5">
              <img src="../../../assets/img/sao-paulo-1.svg" class="rounded escudo mx-auto d-block" alt="...">
            </div>
          </div>
          <div class="row d-flex justify-content-center text-center mt-3">
            <div class="col-md-4 ">
              SC Corinthians Paulista
            </div>
            <div class="col-md-1">
              X
            </div>
            <div class="col-md-4">
              São Paulo FC
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">           
              <nav class="">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Geral</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Classificação</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" disabled>Ultimos Jogos</button>                  
                </div>
              </nav>
            </div>
            <div class="col-md-2"></div>

            <div class="tab-content mt-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="row d-flex justify-content-center text-center mt-3">
                  <div class="col-md-4  fs-16">5</div>
                  <div class="col-md-1">|</div>
                  <div class="col-md-4  fs-16">4</div>
                </div>
                <div class="row d-flex justify-content-center text-center mt-3">
                  <div class="col-md-4">Tecnico Mandante</div>
                  <div class="col-md-1">|</div>
                  <div class="col-md-4">Tecnico Visitante</div>
                </div>
                <div class="row d-flex justify-content-center text-center mt-3">
                  <div class="col-md-4">4-4-3</div>
                  <div class="col-md-1">|</div>
                  <div class="col-md-4">5-4-2</div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
              <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
            </div>
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          16:30 - 24/01/2023 - Estadio Municipal de Guarulhos
        </div>
      </div>
    </div>
  </div>
</div>
