<div class="container-fluid mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
              <div class="card-header titulo-card">
                Campeonato Brasileiro 2023 - Rodada
              </div>
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">CLUBE</th>
                            <th scope="col">PTS</th>
                            <th scope="col">VIT</th>
                            <th scope="col">DER</th>
                            <th scope="col">GC</th>
                            <th scope="col">SG</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rodada of lista_clube">
                            <th scope="row">1</th>
                            <td>{{rodada.nome}}</td>
                            <td>{{classsifica.pontos}}</td>
                            <td>{{classsifica.vitorias}}</td>
                            <td>18</td>
                            <td>15</td>
                            <td>55</td>
                          </tr>                        
                        </tbody>
                      </table>           
                </div>                
                
              </div>
              <div class="card-footer text-body-secondary">
                TESTE
              </div>
            </div>
          </div>
    </div>
</div>